<a class="google-oauth btn" href="{{ path('connect_google_start') }}">
    <img class="left google-img" src="{{ asset('assets/images/btn_google_light_normal_ios.svg') }}" />
    Connexion avec Google
</a>
