
<head>
    <meta name="google-signin-client_id" content="687053912221-f1v9jitt5nu6gau381hofh5dsjjpcjok.apps.googleusercontent.com">
</head>


<form method="post">
    <input id="google-connect" type="hidden" />
    <button class="btn-small btn" id="my-signin2" type="submit"></button>
</form>

<script>
    function renderButton() {
        gapi.signin2.render('my-signin2', {
            'width': 200,
            'height': 36,
            'longtitle': true,
            'theme': 'dark',
        });
    }
</script>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>


