{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/login-register.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
        <button class="btn back-btn"> <a href="{{ path('app_login') }}"> Connexion </a><i class="material-icons left">supervisor_account</i></button>
        <h1 class="center">Inscription</h1>

        {% include('users/_form.html.twig') %}

{% endblock %}
