{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/css/login-register.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <button class="btn back-btn"> <a href="{{ path('app_login') }}"> Connexion </a><i class="material-icons left">supervisor_account</i></button>


    {% include('users/_form.html.twig') %}



    <script src="{{ asset('assets/js/passViewerIcon.js') }}" defer></script>
{% endblock %}
