<div class="filters-container">

    <div>
        <div class="input-field search-book">
            <i class="material-icons">search</i>
            <input type="search" id="search-input" placeholder="Rechercher un livre"/>

        </div>
        <div class="dropdown-search-container">
            <ul id="dropdown-search">
            </ul>
        </div>
    </div>


    {{ form_start(filterForm, {attr: {'class': 'category-filter'}}) }}

        {{ form_row(filterForm.category) }}
        <button type="submit" class="btn btn-small"> <i class="material-icons">search</i> </button>

    {{ form_end(filterForm) }}

</div>