.filters-container{
    width: 60%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid #0DC9C9;
}

.search-book,
.category-filter{
    display: flex;
    align-items: center;
}

.input-field, .dropdown-search-container{
    margin: 0 20px;
}

/* SELECT GENRE */
input[type="text"]:not(.browser-default){
    border-bottom: none;
    margin-bottom: 0;
}

.select-wrapper input.select-dropdown:focus{
    border-bottom: none;
}

input[type="text"]:not(.browser-default):active{
    border: none;
}

.category-filter .select-dropdown{
    font-style: italic;
    text-align: center
}
/* END SELECT GENRE STYLE*/

/* SEARCH BOOK INPUT AND DROPDOWN */
#dropdown-search, input[type="search"]:not(.browser-default){
    margin: 0;
    border-bottom: none;
}

#search-input:focus{background: transparent;}

.dropdown-search-container{
    background: #0DC9C9;
    z-index: 293;
    position: absolute;
    min-width: 100px;
    padding: 5px 10px;
    display: none;
}

.dropdown-search-container li, .dropdown-search-container a{
    color: #FFFFFF;
    font-style: italic;
    font-family: Overlock, sans-serif;
}
/* END SEARCH BOOK */

.select-wrapper .caret, .filters-container .material-icons{
    margin: auto 2px;
}
/* Loading Icon */
.lds-hourglass {
    display: none;
    position: relative;
    margin-right: 3px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 12px solid;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
/* END LOADING ICON */

@media screen and (max-width: 950px){
    .filters-container{
        width: 100%;
        justify-content: center;
        border-left: none;
        border-right: none;
    }
}

@media screen and (max-width: 550px) {
    .filters-container{
        margin: 10px auto;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }
}