@font-face {
    font-family: Righteous;
    src: url("../fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: Overlock;
    src: url("../fonts/Overlock-Regular.ttf");
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(38, 166, 154, 0.1);
    position: relative;
    flex-direction: column;
}


form{
    display: flex;
    flex-direction: column;
    padding: 10px 30px 20px;
    position: relative;
}

.subscribe-form{
    width: 50%;
}

.login-form{
    width:30%;
}

h1{
    color: #0DC9C9;
    text-decoration: underline #0DC9C9;
    font-size: 3rem;
    padding: 10px 0;
    margin: 0;
}

h1, .btn {
    font-family: Righteous, sans-serif;
}

input,label, .tooltip-text {
    font-family: Overlock, sans-serif;
}


.btn{
    margin: 15px auto;
    background: #0DC9C9;
}

.back-btn{
    position: absolute;
    top: 0;
    left: 10px;
}

/* ERROR FORM */
ul{
    margin: 0;
}

.error-msg, li{
    font-size: 0.8rem;
    margin-top: 10px;
    color: red;
}
/* Inscription civility */
.civility-container{
    display: flex;
    justify-content: space-between;
}

.civility-container .input-field{
    width: 40%;
}
/* END CIVILITY CONTAINER */

/* TOOLTIP INTERROGATION MARK LOGIN PAGE */
.tooltipped {
    position: absolute;
    right: 10px;
    color: #0DC9C9;
    cursor: pointer;
}

.material-tooltip{
    background: #0DC9C9;
}

.tooltip-text{
    font-size: 0.9rem;
}
/* END TOOLTIP */

/* PASSWORD ICON VIEWER */
.icon-pass-view, .icon-pass-hide{
    position: absolute;
    bottom: 50%;
    right: 5%;
    cursor: pointer;
    font-size: 1.2rem;
    user-select: none;
}

.icon-pass-hide{
    display: none;
}

/* Google Button */
.google-oauth{
    display: flex;
    justify-content: space-between;
    width: auto;
    background: rgba(155, 151, 151, 0.51);
    font-size: 0.9rem;
}

.google-img{
    height: 100%;
}


@media screen and (max-width: 950px) {
    form {
           width: 95%;
    }
}