@font-face {
    font-family: Righteous;
    src: url("../fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: Overlock;
    src: url("../fonts/Overlock-Regular.ttf");
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(87, 193, 188, 0.1);
}


form{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px 30px 20px;
    border: 2px #57C1BC solid;
    border-radius: 15px;
}


h1{
    color: #57C1BC;
    text-decoration: underline #57C1BC;
    font-size: 3rem;
    padding: 10px;
    margin-top: 20px;
}

h1, .btn {
    font-family: Righteous, sans-serif;
}

input,label {
    font-family: Overlock, sans-serif;
}


.btn{
    margin: 15px auto;
}

.error-msg{
    font-size: 0.8rem;
    margin-top: 10px;
    color: red;
}

@media screen and (max-width: 950px) {
    form {
        width: 100%;
        border: 0;
        border-radius: 0;
    }
}


@media screen and (max-width: 400px){
    .btn{
        overflow: inherit;
    }

}