@font-face {
    font-family: Righteous;
    src: url("../fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: Overlock;
    src: url("../fonts/Overlock-Regular.ttf");
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: rgba(87, 193, 188, 0.1);
    padding: 20px 0;
}


form{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px 30px 20px;
    border: 2px #0DC9C9 solid;
    border-radius: 15px;
}


h1{
    color: #0DC9C9;
    text-decoration: underline #0DC9C9;
    font-size: 2.5rem;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

h1, .btn {
    font-family: Righteous, sans-serif;
}

input,label {
    font-family: Overlock, sans-serif;
}

.btn{
    margin: 15px auto;
    background: #0DC9C9;
}

ul{
    margin: 0;
}

form li {
    color: red;
    font-size: 0.8rem;
    font-style: italic;
}

@media screen and (max-width: 1450px){
    form{
        width: 60%;
    }
}

@media screen and (max-width: 950px) {
    form {
        width: 100%;
        border: 0;
        border-radius: 0;
    }
}


@media screen and (max-width: 400px){
    .btn{
        overflow: inherit;
        margin: 0;
    }

    form h1{
        font-size: 1.8rem;
    }

    form{
        margin-top: 20px;
    }

}