@font-face {
    font-family: Righteous;
    src: url("../fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: Overlock;
    src: url("../fonts/Overlock-Regular.ttf");
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: rgba(87, 193, 188, 0.1);
    padding: 20px 0;
}


.addBookForm{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px 30px 20px;
    border: 2px #0DC9C9 solid;
    border-radius: 15px;
}


h1{
    color: #0DC9C9;
    text-decoration: underline #0DC9C9;
    font-size: 2.5rem;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

h1, .btn {
    font-family: Righteous, sans-serif;
}

input, select, label, h1{
    font-family: Overlock, sans-serif;
}

.btn{
    margin: 15px auto;
    background: #0DC9C9;
}

ul, .dropdown-content{
    margin: 0;
}

.select-wrapper{
    width: 90%;
}

/* Errors message */
form li {
    color: red;
    font-size: 0.8rem;
    font-style: italic;
}

/*  MODAL */
.modal-content, .modal .modal-footer{
    background: #0DC9C9;
}

.section-modal{
    background: #FFFFFF;
    margin: 20px 0;
    padding: 15px 0;
    border-radius: 10px;
}

.modal-content h4 {
    color: #0DC9C9;
    text-align: center;
    text-decoration: underline #0DC9C9;
    font-family: Overlock, sans-serif;
}

.author-field, .category-field, .category-delete, .form-modal, .author-delete{
    display: flex;
}

.form-modal, .category-delete, .author-delete{
    flex-direction: column;
    align-items: center;
}

.form-modal .input-field{
    width: 75%;
}

.modal.modal-fixed-footer .modal-footer {
    border-top: #FFFFFF 1px solid;
}

.modal .btn{
    background: #FFFFFF;
    color: #0DC9C9;
}

.modal .btn:hover{
    background: #0DC9C9;
    color: #FFFFFF;
}


@media screen and (max-width: 1450px){
    .addBookForm{
        width: 60%;
    }
}


@media screen and (max-width: 950px) {
    .addBookForm {
        width: 100%;
        border: 0;
        border-radius: 0;
    }
}

@media screen and (max-width: 400px){
    .addBookForm{
        margin-top: 20px;
    }

    .addBookForm h1{
        font-size: 1.8rem;
    }

    .modal-content{
        padding: 20px 0;
    }

    .modal{width: 95%;}

    .modal-content h4{
        font-size: 1.6rem;
    }

    .modal .modal-content{
        padding: 10px 0;
    }

    .section-modal{
        border-radius: 0;
    }

}