{% for message in app.flashes('success') %}
    <p class="center" style="font-style: italic; color: #26a69a;">{{ message }}</p>
{% endfor %}
{% for message in app.flashes('errors') %}
    <p class="center" style="font-style: italic; color: crimson;">{{ message }}</p>
{% endfor %}