<footer style="background: #0DC9C9;">
  <div style="height: 8vh; display: flex; justify-content: center; align-items: center ">
    <span style="color: #FFFFFF; font-style: italic; font-family: Overlock, sans-serif">
      © 2021 Made By Kevin CHALLIT
    </span>
  </div>
</footer>