{% if outdatedReservations %}
    {% for reservation in outdatedReservations %}
        <div class="row alert-container">
            <div class="alert-img-container">
                <img src="{{ asset('assets/images/caution.png') }}" class=" responsive-img" alt="warning livre non rendu"/>
            </div>
            <div>
                <h2>Vous avez dépassé le délai de garde de :</h2>
                <ul>
                    <li class="">{{ reservation.books.title }}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endif %}