<form method="post" action="{{ path('books_reservations_delete', {'id': reservation.id}) }}" onsubmit="return confirm('Vous allez cloturer cette emprunt, cette action est irréversible' );">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
    <button type="submit" class="btn-small {{ reservation.isCollected ? '' : 'disabled'}}"> Rendu client </button>
</form>
