<form method="post" class="{{ reservation.isCollected ? '' : 'hide'}}" action="{{ path('books_reservations_delete', {'id': reservation.id}) }}" onsubmit="return confirm('Vous allez cloturer cette emprunt, cette action est irréversible' );">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
    <button type="submit" class="btn btn-small waves-effect waves-light"> Rendu client </button>
</form>
