{% if reservation.isCollected %}
    <td id="status" style="width: 15%;">
        Collecté <br/>
        {% if reservation.collectedAt|date_modify('+3 weeks') > date() %}
            (En cours)
        {% else %}
            (Dépassement)
        {% endif %}
    </td>
{% else %}
<td style="width: 15%;">Non collecté</td>
{% endif %}




