{% extends 'base.html.twig' %}

{% block title %}Edit BooksReservations{% endblock %}

{% block body %}
    <h1>Edit BooksReservations</h1>

    {{ include('books_reservations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('books_reservations_index') }}">back to list</a>

    {{ include('books_reservations/_delete_form.html.twig') }}
{% endblock %}
