<form method="post" action="{{ path('user_accept', {'id': user.id}) }}" onsubmit="return confirm('Vous allez acceptez la demande, cette action est irréversible, êtes vous sûr ?' );">
    <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ user.id) }}">
    <button type="submit" class="btn btn-small waves-effect waves-light"> Accepter </button>
</form>
