<div id="oldPasswordModal" class="modal">
    <div class="modal-content">
        <h4>Confirmer votre mot de passe</h4>
        <p>Pour valider vos nouvelles données, veuillez renseigner votre mot de passe actuel.</p>
        <div class="input-field">
            {{ form_label(form.oldPassword) }}
            {{ form_widget(form.oldPassword) }}
            {{ form_errors(form.oldPassword) }}
        </div>
    </div>
    <div class="modal-footer">
        <button id="submitForm" type="submit" class="disabled modal-close waves-effect waves-green btn-small">Enregistrer</button>
    </div>
</div>

