<div id="oldPasswordModal" class="modal">
    <div class="modal-content">
        <div class="input-field">
            {{ form_label(form.oldPassword) }}
            {{ form_widget(form.oldPassword) }}
            {{ form_errors(form.oldPassword) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="modal-close waves-effect waves-green btn-small">Enregistrer</button>
    </div>
</div>